@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);


/* Cover */
.cover {position:relative; overflow:hidden; width:200px; height:200px; display:block; background:none no-repeat center center; background-size:cover;}
.cover img {position:absolute; left:50%; top:50%; height:100%; height:auto; transform:translate(-50%, -50%);}
.cover-w img {width:auto; width:100%;}


/* Popup modal */
.popup {display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.5); z-index:99999;}
.popup>* {position:absolute; left:50%; top:50%; max-width:100%; transform:translate(-50%, -50%); box-shadow:5px 5px 30px 0px rgba(0,0,0,.5) !important; border-radius:0 !important; max-height:90%; overflow:auto;}


/* Bugfixes */
.wp-admin select.form-control {padding:7px; height:auto;}